.landingPageContainer {
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    height: 50vh;
    align-content: center;
    justify-content: center;
}

.landingPageComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    box-shadow: 1px 1px 15px 1px #272727;
    background-color: #ffffff;
    height: 37vh;
    position: relative;
}

.landingPageComponent:hover {
    box-shadow: 1px 10px 40px 5px #272727;
    cursor: pointer;
}

.landingPageComponent:hover  > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:rgba(0, 0, 0, 0.425);
    z-index: 50;
    display: block; 
}


.landingPageComponent div.buttonContainer {
    position:absolute;
    display:none;
    z-index: 100;
}

.landingPageComponent:hover div.buttonContainer {
    display: flex;
    flex-direction: column;
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

button {
    background-color: rgb(43, 43, 43);
    color: #ffffff;
    margin-top: 2vh;
    
}


button:hover {
    background-color: #ce5959;
    color: #ffffff;
}


#tinkleImg, #sbmImg, #scrapprImg{
    width: 100%;
    height: 100%;
}
