/** empty css file for component consistency **/

.about {
  height: 60vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 99vw;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.gridContainer h2, h3{
  text-decoration-line: underline;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  width: 67vw;
}

.flexItem {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.headshot {
  margin-left: 3vw;
  margin-top: 3vw;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0px 0px 21px 3px #272727;
}

p {
  margin-top: 2vh;
  margin-right: 1vw;
}

#about {
  text-indent: 25px;
}

.gridContainer h1 {
  text-decoration-line: underline;
}
